/* inside style.css */

/****Font Settings****/

@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Road+Rage&display=swap');


body{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Road Rage', sans-serif;
    background-color: rgb(236, 218, 193);
    opacity: 1;
}

.highlight {
    background-color:rgb(219, 171, 39);
}

.error {
    background-color: crimson;
}

h1 {
    padding: 0.5em;
    margin: 0em;
    color:rgb(131, 66, 5);
    text-align: center;
    font-size: 4em;
}
p {
    padding: 0.2em;
    margin: 0em;
    color:rgb(63, 32, 3);
    text-align: center;
    font-size: 2em;    
}



 /****Pictures Settings****/

#headerpicture{
    padding: 0;
    margin: 0;
    background: url(image/annie-spratt-GWCvnsMtiBg-unsplash.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 1000px;
}

#footerpicture{
    padding: 0px;
    margin-top: 50px;
    background: url(image/mark-higham-theartshot360-9G5h6alZeDI-unsplash.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 1500px;
}
